<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PayU Financial Services. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <payu_gateway>
            <txn_status>
                <enable>0</enable>
                <order_status>pending,pending_payment</order_status>
                <cron_delay>5</cron_delay>
                <time>05,01,00</time>
                <frequency>D</frequency>
            </txn_status>
            <txn_lock>
                <enable>0</enable>
                <keep_log>30</keep_log>
                <time>01,00,00</time>
                <frequency>D</frequency>
            </txn_lock>
            <bypass_redirect>
                <enable>0</enable>
            </bypass_redirect>
        </payu_gateway>
        <payment>
            <payu_gateway_creditcard>
                <model>PayUGatewayCreditCardFacade</model>
                <active>0</active>
                <title>Credit Card</title>
                <payment_action>authorize_capture</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_sale>1</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <privateInfoKeys>cardExpiry,cardNumber,gatewayReference,information,nameOnCard</privateInfoKeys>
                <paymentInfoKeys>pmId,amountInCents,cardExpiry,cardNumber,gatewayReference,information,nameOnCard</paymentInfoKeys>
                <cctypes>VI,MC,MI</cctypes>
                <useccv>1</useccv>
                <cctypes_payu_gateway_mapper><![CDATA[{"mastercard":"MC","master-card":"MC","visa":"VI","maestro":"MI"}]]></cctypes_payu_gateway_mapper>
                <masked_fields>cvv,number</masked_fields>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>CREDITCARD</payment_methods>
                <currency>ZAR</currency>
                <enterprise>0</enterprise>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_creditcard>
            <payu_gateway_discovery_miles>
                <model>PayUGatewayDiscoveryMilesFacade</model>
                <active>0</active>
                <title>Discovery Miles</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>1</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>DISCOVERYMILES</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_discovery_miles>
            <payu_gateway_ebucks>
                <model>PayUGatewayEbucksFacade</model>
                <active>0</active>
                <title>eBucks</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>EBUCKS</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_ebucks>
            <payu_gateway_eft_pro>
                <model>PayUGatewayEftProFacade</model>
                <active>0</active>
                <title>Pay by EFT</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>EFT_PRO</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_eft_pro>
            <payu_gateway_mobicred>
                <model>PayUGatewayMobicredFacade</model>
                <active>0</active>
                <title>Mobicred</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>MOBICRED</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_mobicred>
            <payu_gateway_payflex>
                <model>PayUGatewayPayflexFacade</model>
                <active>0</active>
                <title>Payflex</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>PAYFLEX</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_payflex>
            <payu_gateway_airtel_money>
                <model>PayUGatewayAirtelMoneyFacade</model>
                <active>0</active>
                <title>Airtel Money</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>AIRTEL_MONEY</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_airtel_money>
            <payu_gateway_capitec_pay>
                <model>PayUGatewayCapitecPayFacade</model>
                <active>0</active>
                <title>Capitec Pay</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>OPEN_BANKING</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_capitec_pay>
            <payu_gateway_equitel>
                <model>PayUGatewayEquitelFacade</model>
                <active>0</active>
                <title>Equitel</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>EQUITEL</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_equitel>
            <payu_gateway_fasta>
                <model>PayUGatewayFastaFacade</model>
                <active>0</active>
                <title>Fasta</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>FASTA</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_fasta>
            <payu_gateway_more_tyme>
                <model>PayUGatewayMoreTymeFacade</model>
                <active>0</active>
                <title>MoreTyme</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>MORETYME</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_more_tyme>
            <payu_gateway_ucount>
                <model>PayUGatewayUcountFacade</model>
                <active>0</active>
                <title>Ucount</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>CREDITCARD</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_ucount>
            <payu_gateway_tigopesa>
                <model>PayUGatewayTigopesaFacade</model>
                <active>0</active>
                <title>Tigopesa</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>TIGOPESA</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_tigopesa>
            <payu_gateway_rcs>
                <model>PayUGatewayRcsFacade</model>
                <active>0</active>
                <title>RCS</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>RCS</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_rcs>
            <payu_gateway_rcs_plc>
                <model>PayUGatewayRcsPlcFacade</model>
                <active>0</active>
                <title>RCS PLC</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>RCS_PLC</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_rcs_plc>
            <payu_gateway_mpesa>
                <model>PayUGatewayMpesaFacade</model>
                <active>0</active>
                <title>Mpesa</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>MPESA</payment_methods>
                <currency>ZAR</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_mpesa>
            <payu_gateway_mtn_mobile>
                <model>PayUGatewayMtnMobileFacade</model>
                <active>0</active>
                <title>MTN Mobile</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>800117</api_username>
                <api_password>vfFbwgjk</api_password>
                <safe_key>{6BA54E9D-7F71-40A4-B73D-4F16D6FF4644}</safe_key>
                <payment_methods>MTN_MOBILE</payment_methods>
                <currency>GHS</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_mtn_mobile>
            <payu_gateway_mobile_banking>
                <model>PayUGatewayMobileBankingFacade</model>
                <active>0</active>
                <title>Mobile Banking</title>
                <payment_action>order</payment_action>
                <is_gateway>1</is_gateway>
                <can_use_checkout>1</can_use_checkout>
                <can_authorize>0</can_authorize>
                <can_capture>0</can_capture>
                <can_sale>0</can_sale>
                <can_order>1</can_order>
                <can_capture_partial>0</can_capture_partial>
                <can_authorize_vault>0</can_authorize_vault>
                <can_capture_vault>0</can_capture_vault>
                <can_use_internal>1</can_use_internal>
                <can_refund_partial_per_invoice>0</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_void>0</can_void>
                <can_cancel>1</can_cancel>
                <can_edit>0</can_edit>
                <can_accept_payment>1</can_accept_payment>
                <can_review_payment>0</can_review_payment>
                <can_deny_payment>1</can_deny_payment>
                <can_fetch_transaction_information>1</can_fetch_transaction_information>
                <paymentInfoKeys>amountInCents</paymentInfoKeys>
                <order_status>pending_payment</order_status>
                <debugReplaceKeys>api_username,api_password,safe_key</debugReplaceKeys>
                <allowspecific>0</allowspecific>
                <debug>0</debug>
                <environment>sandbox</environment>
                <api_username>200021</api_username>
                <api_password>WSAUFbw6</api_password>
                <safe_key>{07F70723-1B96-4B97-B891-7BF708594EEA}</safe_key>
                <payment_methods>MOBILE_BANKING</payment_methods>
                <currency>KES,EGP</currency>
                <min_order_total>50</min_order_total>
                <max_order_total>5000000</max_order_total>
                <payment_url_notify_url>payu_magento/gateway/notify</payment_url_notify_url>
                <payment_url_return_url>payu_magento/gateway/response</payment_url_return_url>
                <payment_url_cancel_url>payu_magento/gateway/cancel</payment_url_cancel_url>
                <payment_url_redirect_url>payu_magento/gateway/redirect</payment_url_redirect_url>
            </payu_gateway_mobile_banking>
        </payment>
    </default>
</config>
