<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PayU Financial Services. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="800" showInDefault="1" showInStore="1" showInWebsite="1">
            <group id="payu_gateway_section" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <group id="payu_gateway" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayU Secure Payments</label>
                    <comment><![CDATA[Accept credit/debit cards, Discovery Miles, eBucks, Pay by EFT, Mobiccred, FASTA  in your Magento store.<br />If configured, your customers never leave your store to complete the purchase.]]></comment>
                    <fieldset_css>complex payu-gateway-section</fieldset_css>
                    <attribute type="displayIn">recommended_solutions</attribute>
                    <frontend_model>PayU\Gateway\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <more_url>https://corporate.payu.com</more_url>
                    <help_url>https://corporate.payu.com/contact-us/</help_url>
                    <group id="configuration_details" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <comment>https://payusahelp.atlassian.net/wiki/spaces/developers/pages</comment>
                        <frontend_model>PayU\Gateway\Block\Adminhtml\System\Config\Fieldset\Hint</frontend_model>
                    </group>
                    <group id="payu_gateway_txn_status" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Transaction Status Checker</label>
                        <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Enable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payu_gateway/txn_status/enable</config_path>
                        </field>
                        <field id="order_status" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Order Status</label>
                            <comment>The status of orders to be processed</comment>
                            <source_model>PayU\Gateway\Model\Adminhtml\System\Config\Source\Order\Status\PendingPayment</source_model>
                            <config_path>payu_gateway/txn_status/order_status</config_path>
                            <depends>
                                <field id="enable">1</field>
                            </depends>
                        </field>
                        <field id="time" translate="label" type="time" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Start Time</label>
                            <comment>Hour in 24-hour format is formatted as 00 0/01 * * * cron expression</comment>
                            <config_path>payu_gateway/txn_status/time</config_path>
                            <depends>
                                <field id="enable">1</field>
                            </depends>
                        </field>
                        <field id="frequency" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Frequency</label>
                            <comment>Magento schedule for running cron</comment>
                            <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                            <backend_model>PayU\Gateway\Model\Adminhtml\System\Config\Backend\TxnStatus\Cron</backend_model>
                            <config_path>payu_gateway/txn_status/frequency</config_path>
                            <depends>
                                <field id="enable">1</field>
                            </depends>
                        </field>
                        <field id="cron_delay" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Delay (Minutes)</label>
                            <comment>
                                How long after order placement will the CRON start checking the order status, leave empty for default
                            </comment>
                            <config_path>payu_gateway/txn_status/cron_delay</config_path>
                            <depends>
                                <field id="enable">1</field>
                            </depends>
                        </field>
                    </group>
                    <group id="payu_gateway_txn_lock" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Transaction Locks Cleaner</label>
                        <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payu_gateway/txn_lock/enable</config_path>
                        </field>
                        <field id="time" translate="label" type="time" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Start Time</label>
                            <config_path>payu_gateway/txn_lock/time</config_path>
                            <depends>
                                <field id="enable">1</field>
                            </depends>
                        </field>
                        <field id="frequency" translate="label" type="multiselect" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Frequency</label>
                            <comment>Magento schedule for running cron</comment>
                            <source_model>Magento\Cron\Model\Config\Source\Frequency</source_model>
                            <backend_model>PayU\Gateway\Model\Adminhtml\System\Config\Backend\Lock\Cron</backend_model>
                            <config_path>payu_gateway/txn_lock/frequency</config_path>
                            <depends>
                                <field id="enable">1</field>
                            </depends>
                        </field>
                        <field id="keep_log" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Keep Log (Days)</label>
                            <comment>Number of days logs can be kept</comment>
                            <config_path>payu_gateway/txn_lock/keep_log</config_path>
                            <depends>
                                <field id="enable">1</field>
                            </depends>
                        </field>
                    </group>
                    <group id="payu_gateway_redirect_config" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Response Redirect Processing</label>
                        <field id="bypass_payu_redirect" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Disable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payu_gateway/bypass_redirect/enable</config_path>
                        </field>
                    </group>
                    <group id="payu_gateway_creditcard_other" translate="label comment" sortOrder="8" extends="payment_all_payu_gateway/payu_gateway_creditcard" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Credit Card</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_discovery_miles_other" translate="label comment" sortOrder="9" extends="payment_all_payu_gateway/payu_gateway_discovery_miles" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discovery Miles</label>
                        <comment>
                            <![CDATA[<a href="https://southafrica.payu.com/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_ebucks_other" translate="label comment" sortOrder="10" extends="payment_all_payu_gateway/payu_gateway_ebucks" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>eBucks</label>
                        <comment>
                            <![CDATA[<a href="https://southafrica.payu.com/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_eft_pro_other" translate="label comment" sortOrder="11" extends="payment_all_payu_gateway/payu_gateway_eft_pro" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Pay by EFT</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_mobicred_other" translate="label comment" sortOrder="12" extends="payment_all_payu_gateway/payu_gateway_mobicred" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Mobicred</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_payflex_other" translate="label comment" sortOrder="13" extends="payment_all_payu_gateway/payu_gateway_payflex" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payflex</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_airtel_money_other" translate="label comment" sortOrder="14" extends="payment_all_payu_gateway/payu_gateway_airtel_money" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Airtel Money</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_capitec_pay_other" translate="label comment" sortOrder="15" extends="payment_all_payu_gateway/payu_gateway_capitec_pay" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Capitec Pay</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_equitel_other" translate="label comment" sortOrder="16" extends="payment_all_payu_gateway/payu_gateway_equitel" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Equitel</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_fasta_other" translate="label comment" sortOrder="17" extends="payment_all_payu_gateway/payu_gateway_fasta" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Fasta</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_more_tyme_other" translate="label comment" sortOrder="18" extends="payment_all_payu_gateway/payu_gateway_more_tyme" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>MoreTyme</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_ucount_other" translate="label comment" sortOrder="19" extends="payment_all_payu_gateway/payu_gateway_ucount" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Ucount</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_tigopesa_other" translate="label comment" sortOrder="20" extends="payment_all_payu_gateway/payu_gateway_tigopesa" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Tigopesa</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_rcs_other" translate="label comment" sortOrder="21" extends="payment_all_payu_gateway/payu_gateway_rcs" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>RCS</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_rcs_plc_other" translate="label comment" sortOrder="22" extends="payment_all_payu_gateway/payu_gateway_rcs_plc" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>RCS PLC</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_mpesa_other" translate="label comment" sortOrder="23" extends="payment_all_payu_gateway/payu_gateway_mpesa" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Mpesa</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_mtn_mobile_other" translate="label comment" sortOrder="24" extends="payment_all_payu_gateway/payu_gateway_mtn_mobile" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>MTN Mobile</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_mobile_banking_other" translate="label comment" sortOrder="25" extends="payment_all_payu_gateway/payu_gateway_mobile_banking" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Mobile Banking</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                </group>
            </group>
        </section>
        <section id="payment_all_payu_gateway" showInDefault="0" showInWebsite="0" showInStore="0">
            <include path="PayU_Gateway::system/payu_gateway_creditcard.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_discovery_miles.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_ebucks.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_eft_pro.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_mobicred.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_payflex.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_airtel_money.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_capitec_pay.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_equitel.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_fasta.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_more_tyme.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_ucount.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_tigopesa.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_rcs.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_rcs_plc.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_mpesa.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_mtn_mobile.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_mobile_banking.xml"/>
        </section>
    </system>
</config>
