<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PayU Financial Services. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="800" showInDefault="1" showInStore="1" showInWebsite="1">
            <group id="payu_gateway_section" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                <group id="payu_gateway" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayU Secure Payments</label>
                    <comment><![CDATA[Accept credit/debit cards, Discovery Miles, eBucks, EFT, Mobiccred, FASTA  in your Magento store.<br />If configured, your customers never leave your store to complete the purchase.]]></comment>
                    <fieldset_css>complex payu-gateway-section</fieldset_css>
                    <attribute type="displayIn">recommended_solutions</attribute>
                    <frontend_model>PayU\Gateway\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <more_url>https://corporate.payu.com</more_url>
                    <help_url>https://corporate.payu.com/contact-us/</help_url>
                    <group id="configuration_details" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                        <comment>https://payusahelp.atlassian.net/wiki/spaces/developers/pages</comment>
                        <frontend_model>PayU\Gateway\Block\Adminhtml\System\Config\Fieldset\Hint</frontend_model>
                    </group>
                    <group id="payu_gateway_cron" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>CRON Settings</label>
                        <field id="bypass_cron" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Disable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payu_gateway_cron/bypass_cron</config_path>
                        </field>
                        <field id="order_status" translate="label" type="multiselect" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Order Status</label>
                            <comment>The status of orders to be processed</comment>
                            <source_model>PayU\Gateway\Model\Adminhtml\System\Config\Source\Order\Status\PendingPayment</source_model>
                            <config_path>payment/payu_gateway_cron/order_status</config_path>
                        </field>
                        <field id="cron_delay" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Delay (Minutes)</label>
                            <comment>
                                How long after order placement will the CRON start checking the order status, leave empty for default
                            </comment>
                            <config_path>payment/payu_gateway_cron/cron_delay</config_path>
                        </field>
                    </group>
                    <group id="payu_gateway_redirect_config" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Redirect Settings</label>
                        <field id="bypass_payu_redirect" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Disable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payu_gateway/bypass_payu_redirect</config_path>
                        </field>
                    </group>
                    <group id="payu_gateway_creditcard_other" translate="label comment" sortOrder="7" extends="payment_all_payu_gateway/payu_gateway_creditcard" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Credit Card</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_discovery_miles_other" translate="label comment" sortOrder="8" extends="payment_all_payu_gateway/payu_gateway_discovery_miles" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Discovery Miles</label>
                        <comment>
                            <![CDATA[<a href="https://southafrica.payu.com/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_ebucks_other" translate="label comment" sortOrder="9" extends="payment_all_payu_gateway/payu_gateway_ebucks" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>eBucks</label>
                        <comment>
                            <![CDATA[<a href="https://southafrica.payu.com/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_eft_pro_other" translate="label comment" sortOrder="10" extends="payment_all_payu_gateway/payu_gateway_eft_pro" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>EFT Pro</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                    <group id="payu_gateway_mobicred_other" translate="label comment" sortOrder="11" extends="payment_all_payu_gateway/payu_gateway_mobicred" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Mobicred</label>
                        <comment>
                            <![CDATA[<a href="https://corporate.payu.com/contact-us/" target="_blank">Sign up for a Merchant account</a>]]>
                        </comment>
                    </group>
                </group>
            </group>
        </section>
        <section id="payment_all_payu_gateway" showInDefault="0" showInWebsite="0" showInStore="0">
            <include path="PayU_Gateway::system/payu_gateway_creditcard.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_discovery_miles.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_ebucks.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_eft_pro.xml"/>
            <include path="PayU_Gateway::system/payu_gateway_mobicred.xml"/>
        </section>
    </system>
</config>
