<?xml version="1.0"?>
<!--
/**
 * Copyright © 2022 PayU Financial Services. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment" translate="label" type="text" sortOrder="800" showInDefault="1" showInStore="1" showInWebsite="1">
            <group id="payu_gateway_section" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="0">
                <group id="payu_gateway" translate="label comment" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>PayU Secure Payments</label>
                    <fieldset_css>complex payu-gateway-section</fieldset_css>
                    <attribute type="activity_path">payment/payu_gateway/active</attribute>
                    <attribute type="displayIn">recommended_solutions</attribute>
                    <frontend_model>PayU\Gateway\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                    <help_url>https://southafrica.payu.com/support</help_url>
                    <group id="configuration_details" showInDefault="1" showInWebsite="1" showInStore="1" sortOrder="4">
                        <comment>https://payusahelp.atlassian.net/wiki/spaces/developers/overview?homepageId=425995</comment>
                        <frontend_model>PayU\Gateway\Block\Adminhtml\System\Config\Fieldset\Hint</frontend_model>
                    </group>
                    <group id="payu_gateway_cron" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>CRON Settings</label>
                        <field id="bypass_payu_cron" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Disable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        </field>
                        <field id="payu_gateway_cron_delay" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Delay (Minutes)</label>
                            <comment>
                                How long after order placement will the CRON start checking the order status, leave empty for default
                            </comment>
                        </field>
                    </group>
                    <group id="payu_gateway_redirect_config" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Redirect Settings</label>
                        <field id="bypass_payu_redirect" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Disable</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payu_gateway/bypass_payu_redirect</config_path>
                        </field>
                    </group>
                    <group id="payu_gateway_creditcard" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Credit Card</label>
                        <comment>
                            <![CDATA[<a href="https://southafrica.payu.com/" target="_blank">Click here to sign up for a PayU account</a>]]>
                        </comment>
                        <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enabled</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payu_gateway_creditcard/active</config_path>
                        </field>
                        <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Title</label>
                            <comment>Title to be displayed in checkout page</comment>
                            <config_path>payment/payu_gateway_creditcard/title</config_path>
                        </field>
                        <field id="environment" translate="label" type="radios" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Environment</label>
                            <source_model>PayU\Gateway\Model\Adminhtml\System\Config\Source\Payment\Environment</source_model>
                            <config_path>payment/payu_gateway_creditcard/environment</config_path>
                        </field>
                        <field id="enterprise" translate="label" type="radios" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Enterprise</label>
                            <comment><![CDATA[When set to <strong>Yes</strong>, customers will complete payment on Merchant's site instead of redirecting to PayU.]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payu_gateway_creditcard/enterprise</config_path>
                        </field>
                        <field id="api_username" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>API Username</label>
                            <config_path>payment/payu_gateway_creditcard/api_username</config_path>
                        </field>
                        <field id="api_password" translate="label" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>API Password</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>payment/payu_gateway_creditcard/api_password</config_path>
                        </field>
                        <field id="safe_key" translate="label" type="obscure" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Safe Key</label>
                            <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                            <config_path>payment/payu_gateway_creditcard/safe_key</config_path>
                        </field>
                        <field id="useccv" translate="label comment" type="select" sortOrder="61" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>CVV Verification</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payu_gateway_creditcard/useccv</config_path>
                        </field>
                        <field id="cctypes" translate="label" type="multiselect" sortOrder="62" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Credit Card Types</label>
                            <source_model>PayU\Gateway\Model\Adminhtml\Source\CcType</source_model>
                            <config_path>payment/payu_gateway_creditcard/cctypes</config_path>
                        </field>
                        <field id="fraudprotection" translate="label comment" type="select" sortOrder="65" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Fraud Protection</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payu_gateway_creditcard/fraudprotection</config_path>
                        </field>
                        <field id="payment_action" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Payment Action</label>
                            <source_model>PayU\Gateway\Model\Adminhtml\System\Config\Source\Payment\Action</source_model>
                            <config_path>payment/payu_gateway_creditcard/payment_action</config_path>
                        </field>
                        <field id="order_status" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>New Order Status</label>
                            <source_model>PayU\Gateway\Model\Adminhtml\System\Config\Source\Order\Status\PendingPayment</source_model>
                            <config_path>payment/payu_gateway_creditcard/order_status</config_path>
                        </field>
                        <field id="currency" translate="label" type="select" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                            <label>Accepted Currency</label>
                            <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                            <config_path>payment/payu_gateway_creditcard/currency</config_path>
                        </field>
                        <field id="payment_methods" translate="label" type="multiselect" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment Methods Code</label>
                            <source_model>PayU\Gateway\Model\Adminhtml\System\Config\Source\Payment\Method</source_model>
                            <config_path>payment/payu_gateway_creditcard/payment_methods</config_path>
                        </field>
                        <field id="allowspecific" translate="label" type="allowspecific" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment from Applicable Countries</label>
                            <source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
                            <config_path>payment/payu_gateway_creditcard/allowspecific</config_path>
                        </field>
                        <field id="specificcountry" translate="label" type="multiselect" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Payment from Specific Countries</label>
                            <source_model>PayU\Gateway\Model\Adminhtml\System\Config\Country</source_model>
                            <can_be_empty>1</can_be_empty>
                            <config_path>payment/payu_gateway_creditcard/specificcountry</config_path>
                        </field>
                        <field id="budget" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Allow Budget</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payu_gateway_creditcard/budget</config_path>
                        </field>
                        <field id="min_order_total" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Minimum Order Total</label>
                            <comment>Cannot be less than 1.00</comment>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/payu_gateway_creditcard/min_order_total</config_path>
                        </field>
                        <field id="max_order_total" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Maximum Order Total</label>
                            <comment>Cannot be more than 5,000,000.00</comment>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/payu_gateway_creditcard/max_order_total</config_path>
                        </field>
                        <field id="debug" translate="label" type="select" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Debugging</label>
                            <comment>Debug data is written to payment.log</comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/payu_gateway_creditcard/debug</config_path>
                        </field>
                        <group id="payment_url" translate="label" type="text" sortOrder="170" showInDefault="1" showInStore="1" showInWebsite="1">
                            <label>Payment Urls</label>
                            <comment>Only update URLs if there are external integration outside of Magento</comment>
                            <field id="notify_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="0">
                                <label>Notification Url (IPN)</label>
                                <config_path>payment/payu_gateway_creditcard/payment_url/notify_url</config_path>
                            </field>
                            <field id="return_url" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                                <label>Return Url</label>
                                <config_path>payment/payu_gateway_creditcard/payment_url/return_url</config_path>
                            </field>
                            <field id="cancel_url" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                                <label>Cancel Url</label>
                                <config_path>payment/payu_gateway_creditcard/payment_url/cancel_url</config_path>
                            </field>
                            <field id="redirect_url" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                                <label>Redirect Url</label>
                                <config_path>payment/payu_gateway_creditcard/payment_url/redirect_url</config_path>
                            </field>
                        </group>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
